<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="Listeners.CustomListeners"></listener>
    </listeners>

    <test name="Test1" >

        <parameter name="browser" value="chrome"></parameter>
        <parameter name="url" value="https://www.cinemapalace.ro/"></parameter>

    <groups>
        <run>
<!--            <exclude name="possibleFail"></exclude>-->
        </run>
    </groups>

    <classes>
            <class name="paralelTesting.HomePageTesting"/><!-- Foloseste pariemeteri         -->
            <class name="paralelTesting.HomePageTests"/><!-- Nu foloseste parameteri       -->
        </classes>
    </test>
</suite>